#**Trabalhando com Planilhas do Excel**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
#Importando a biblioteca
import pandas as pd

In [3]:
#Leitura dos arquivos
df1 = pd.read_excel("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Aracaju.xlsx")
df2 = pd.read_excel("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Fortaleza.xlsx")
df3 = pd.read_excel("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Natal.xlsx")
df4 = pd.read_excel("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Recife.xlsx")
df5 = pd.read_excel("/content/drive/MyDrive/Curso_Python_Pandas_Digital_Innovation-master/datasets/Salvador.xlsx")

In [4]:
df5.head()

     Cidade       Data  Vendas  LojaID  Qtde
0  Salvador 2018-01-01   31.06    1037     3
1  Salvador 2018-01-01   19.02    1034     3
2  Salvador 2019-02-10  173.59    1035     3
3  Salvador 2019-02-10  176.34    1037     3
4  Salvador 2019-02-14   19.47    1037     3

In [5]:
#juntando todos os arquivos
df = pd.concat([df1,df2,df3,df4,df5])

In [6]:
#Exibindo as 5 primeiras linhas
df.head()

    Cidade       Data  Vendas  LojaID  Qtde
0  Aracaju 2018-01-01  142.00    1520     1
1  Aracaju 2018-01-01   14.21    1522     6
2  Aracaju 2018-01-01   71.55    1520     1
3  Aracaju 2018-01-01    3.01    1521     7
4  Aracaju 2018-01-01   24.51    1522     8

In [7]:
#Exibindo as 5 últimas linhas
df.tail()

       Cidade       Data  Vendas  LojaID  Qtde
235  Salvador 2019-01-03   41.84    1034     1
236  Salvador 2019-01-03  126.29    1035     3
237  Salvador 2019-01-03   38.06    1036     3
238  Salvador 2019-01-03  139.64    1035     1
239  Salvador 2019-01-03  161.41    1037     3

In [8]:
df.sample(5)

       Cidade       Data  Vendas  LojaID  Qtde
168  Salvador 2019-01-02   20.22    1036     1
10    Aracaju 2019-01-01   42.34    1522     6
0       Natal 2018-08-27  606.00     853     2
13     Recife 2019-02-12   15.33     983     5
84      Natal 2019-01-02   22.99    1036     1

In [9]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID             int64
Qtde               int64
dtype: object

In [10]:
#Alterando o tipo de dado da coluna LojaID
df["LojaID"] = df["LojaID"].astype("object")

In [11]:
df.dtypes

Cidade            object
Data      datetime64[ns]
Vendas           float64
LojaID            object
Qtde               int64
dtype: object

In [12]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde
0  Aracaju 2018-01-01  142.00   1520     1
1  Aracaju 2018-01-01   14.21   1522     6
2  Aracaju 2018-01-01   71.55   1520     1
3  Aracaju 2018-01-01    3.01   1521     7
4  Aracaju 2018-01-01   24.51   1522     8

**Tratando valores faltantes**

In [13]:
#Consultando linhas com valores faltantes
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [14]:
#Substituindo os valores nulos pela média
df["Vendas"].fillna(df["Vendas"].mean(), inplace=True)

In [15]:
df["Vendas"].mean()

122.61180089485458

In [16]:
df.isnull().sum()

Cidade    0
Data      0
Vendas    0
LojaID    0
Qtde      0
dtype: int64

In [17]:
df.sample(15)

        Cidade       Data  Vendas LojaID  Qtde
69      Recife 2019-01-01   38.83    981     1
172   Salvador 2019-01-02    6.70   1035     1
117      Natal 2019-01-02   39.41   1034     1
20     Aracaju 2018-01-01   39.86   1522     9
124      Natal 2019-01-02   44.82   1034     3
87       Natal 2019-01-02  135.19   1034     2
113   Salvador 2019-03-02   18.90   1034     3
47    Salvador 2019-01-01  190.03   1036     2
189   Salvador 2019-01-02  139.73   1037     2
111  Fortaleza 2019-03-02    8.00    981     3
58    Salvador 2019-01-01   20.64   1037     2
10      Recife 2019-01-01   38.51    982     8
79     Aracaju 2018-01-01    5.59   1521     4
37     Aracaju 2018-01-01  152.74   1522     9
179      Natal 2019-01-02   64.95   1036     1

In [18]:
#Substituindo os valores nulos por zero
df["Vendas"].fillna(0, inplace=True)

In [19]:
#Apagando as linhas com valores nulos
df.dropna(inplace=True)

In [20]:
#Apagando as linhas com valores nulos com base apenas em 1 coluna
df.dropna(subset=["Vendas"], inplace=True)

In [21]:
#Removendo linhas que estejam com valores faltantes em todas as colunas
df.dropna(how="all", inplace=True)

**Criando colunas novas**

In [22]:
#Criando a coluna de receita
df["Receita"] = df["Vendas"].mul(df["Qtde"])

In [23]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita
0  Aracaju 2018-01-01  142.00   1520     1   142.00
1  Aracaju 2018-01-01   14.21   1522     6    85.26
2  Aracaju 2018-01-01   71.55   1520     1    71.55
3  Aracaju 2018-01-01    3.01   1521     7    21.07
4  Aracaju 2018-01-01   24.51   1522     8   196.08

In [24]:
df["Receita/Vendas"] = df["Receita"] / df["Vendas"]

In [25]:
df.head()

    Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
0  Aracaju 2018-01-01  142.00   1520     1   142.00             1.0
1  Aracaju 2018-01-01   14.21   1522     6    85.26             6.0
2  Aracaju 2018-01-01   71.55   1520     1    71.55             1.0
3  Aracaju 2018-01-01    3.01   1521     7    21.07             7.0
4  Aracaju 2018-01-01   24.51   1522     8   196.08             8.0

In [26]:
#Retornando a maior receita
df["Receita"].max()

3544.0

In [27]:
#Retornando a menor receita
df["Receita"].min()

3.34

In [28]:
#nlargest
df.nlargest(3, "Receita")

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0

In [29]:
#nsamllest
df.nsmallest(3, "Receita")

      Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
118  Aracaju 2018-01-01    3.34   1522     1     3.34             1.0
65    Recife 2019-01-01    4.01    981     1     4.01             1.0
92     Natal 2019-01-02    4.57   1035     1     4.57             1.0

In [30]:
#Agrupamento por cidade
df.groupby("Cidade")["Receita"].sum()

Cidade
Aracaju       48748.25
Fortaleza     37913.97
Natal        167227.52
Recife        51936.51
Salvador      40596.73
Name: Receita, dtype: float64

In [31]:
#Ordenando o conjunto de dados
df.sort_values("Receita", ascending=False).head(10)

   Cidade       Data  Vendas LojaID  Qtde  Receita  Receita/Vendas
7   Natal 2019-03-18   886.0    853     4   3544.0             4.0
55  Natal 2019-01-08   859.0    854     4   3436.0             4.0
51  Natal 2018-01-21   859.0    852     4   3436.0             4.0
30  Natal 2018-10-02   856.0    853     4   3424.0             4.0
41  Natal 2018-05-20   835.0    852     4   3340.0             4.0
38  Natal 2018-02-25   828.0    852     4   3312.0             4.0
10  Natal 2018-10-27   828.0    852     4   3312.0             4.0
69  Natal 2019-03-24   817.0    852     4   3268.0             4.0
62  Natal 2018-02-10   793.0    854     4   3172.0             4.0
52  Natal 2018-04-27   778.0    854     4   3112.0             4.0

#**Trabalhando com datas**

In [32]:
#Transformando a coluna de data em tipo inteiro
df["Data"] = df["Data"].astype("int64")

In [33]:
#Verificando o tipo de dado de cada coluna
df.dtypes

Cidade             object
Data                int64
Vendas            float64
LojaID             object
Qtde                int64
Receita           float64
Receita/Vendas    float64
dtype: object

In [34]:
#Transformando coluna de data em data
df["Data"] = pd.to_datetime(df["Data"])

In [35]:
df.dtypes

Cidade                    object
Data              datetime64[ns]
Vendas                   float64
LojaID                    object
Qtde                       int64
Receita                  float64
Receita/Vendas           float64
dtype: object

In [36]:
#Agrupamento por ano
df.groupby(df["Data"].dt.year)["Receita"].sum()

Data
2018    118176.53
2019    228246.45
Name: Receita, dtype: float64

In [37]:
#Criando uma nova coluna com o ano
df["Ano_Venda"] = df["Data"].dt.year

In [38]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda
67,Recife,2019-01-01,179.52,983,5,897.60,5.0,2019
45,Aracaju,2018-01-01,131.12,1523,5,655.60,5.0,2018
191,Salvador,2019-01-02,173.59,1034,2,347.18,2.0,2019
74,Salvador,2019-01-01,170.53,1035,2,341.06,2.0,2019
96,Natal,2019-01-02,42.94,1034,3,128.82,3.0,2019

In [39]:
#Extraindo o mês e o dia
df["mes_venda"], df["dia_venda"] = (df["Data"].dt.month, df["Data"].dt.day)

In [40]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda
5,Salvador,2019-01-01,179.20,1037,3,537.60,3.0,2019,1,1
186,Natal,2019-01-02,169.09,1036,2,338.18,2.0,2019,1,2
74,Fortaleza,2019-01-01,163.09,1005,5,815.45,5.0,2019,1,1
85,Natal,2019-01-02,16.88,1035,3,50.64,3.0,2019,1,2
52,Recife,2019-01-01,11.87,981,6,71.22,6.0,2019,1,1

In [41]:
#Retornando a data mais antiga
df["Data"].min()

Timestamp('2018-01-01 00:00:00')

In [42]:
#Calculando a diferença de dias
df["diferenca_dias"] = df["Data"] - df["Data"].min()

In [43]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias
209,Salvador,2019-01-02,69.98,1034,2,139.96,2.0,2019,1,2,366 days
41,Aracaju,2018-01-01,229.64,1520,8,1837.12,8.0,2018,1,1,0 days
72,Salvador,2019-01-01,149.47,1036,3,448.41,3.0,2019,1,1,365 days
25,Natal,2019-01-13,611.00,852,2,1222.00,2.0,2019,1,13,377 days
215,Natal,2019-01-02,203.84,1036,1,203.84,1.0,2019,1,2,366 days

In [44]:
#Criando a coluna de trimestre
df["trimestre_venda"] = df["Data"].dt.quarter

In [45]:
df.sample(5)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
172,Salvador,2019-01-02,6.70,1035,1,6.70,1.0,2019,1,2,366 days,1
20,Aracaju,2018-01-01,39.86,1522,9,358.74,9.0,2018,1,1,0 days,1
145,Salvador,2019-01-02,84.62,1034,2,169.24,2.0,2019,1,2,366 days,1
83,Fortaleza,2019-01-01,3.88,1002,6,23.28,6.0,2019,1,1,365 days,1
105,Fortaleza,2019-01-01,174.66,1004,1,174.66,1.0,2019,1,1,365 days,1

In [46]:
#Filtrando as vendas de 2019 do mês de março
vendas_marco_19 = df.loc[(df["Data"].dt.year == 2019) & (df["Data"].dt.month == 3)]

In [47]:
vendas_marco_19.sample(20)

,Cidade,Data,Vendas,LojaID,Qtde,Receita,Receita/Vendas,Ano_Venda,mes_venda,dia_venda,diferenca_dias,trimestre_venda
2,Natal,2019-03-11,308.00,852,3,924.00,3.0,2019,3,11,434 days,1
118,Salvador,2019-03-02,92.21,1035,2,184.42,2.0,2019,3,2,425 days,1
139,Fortaleza,2019-03-02,141.16,980,7,988.12,7.0,2019,3,2,425 days,1
135,Salvador,2019-03-02,9.95,1037,3,29.85,3.0,2019,3,2,425 days,1
119,Fortaleza,2019-03-02,152.30,982,7,1066.10,7.0,2019,3,2,425 days,1
137,Fortaleza,2019-03-02,51.99,983,3,155.97,3.0,2019,3,2,425 days,1
132,Recife,2019-03-02,17.49,983,5,87.45,5.0,2019,3,2,425 days,1
124,Recife,2019-03-02,47.98,983,7,335.86,7.0,2019,3,2,425 days,1
138,Fortaleza,2019-03-02,150.38,983,6,902.28,6.0,2019,3,2,425 days,1
109,Recife,2019-03-02,18.90,982,6,113.40,6.0,2019,3,2,425 days,1
125,Salvador,2019-03-02,25.00,1037,2,50.00,2.0,2019,3,2,425 days,1
42,Natal,2019-03-02,775.00,854,2,1550.00,2.0,2019,3,2,425 days,1
118,Recife,2019-03-02,17.70,981,5,88.50,5.0,2019,3,2,425 days,1
111,Recife,2019-03-02,8.00,981,3,24.00,3.0,2019,3,2,425 days,1
4,Natal,2019-03-09,699.00,853,3,2097.00,3.0,2019,3,9,432 days,1
116,Salvador,2019-03-02,41.78,1034,3,125.34,3.0,2019,3,2,425 days,1
29,Natal,2019-03-09,646.00,854,2,1292.00,2.0,2019,3,9,432 days,1
50,Natal,2019-03-08,324.00,854,4,1296.00,4.0,2019,3,8,431 days,1
134,Salvador,2019-03-02,125.90,1036,1,125.90,1.0,2019,3,2,425 days,1
71,Natal,2019-03-20,840.00,854,3,2520.00,3.0,2019,3,20,443 days,1